BODY {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; BACKGROUND: #ffffff; MARGIN-BOTTOM: 0px; COLOR: #000000; TEXT-ALIGN: center
}
TD {
	FONT-SIZE: 12px
}
INPUT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
TEXTAREA {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
SELECT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.nl {
	PADDING-RIGHT: 0px; LIST-STYLE: none none outside; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.nl LI {
	PADDING-LEFT: 15px; BACKGROUND: url(bullet.gif) no-repeat left 7px; PADDING-TOP: 3px; HEIGHT: 20px
}
UL LI.fixed {
	PADDING-LEFT: 15px; BACKGROUND: url(top.gif) no-repeat left 0px; PADDING-TOP: 3px; HEIGHT: 20px
}
TABLE.thumbnail {
	BORDER-RIGHT: #f7f7f7 1px solid; BORDER-TOP: #f7f7f7 1px solid; BACKGROUND: #e5e5e5; BORDER-LEFT: #f7f7f7 1px solid; BORDER-BOTTOM: #f7f7f7 1px solid
}
TABLE.thumbnail TD {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 4px; BACKGROUND: #ffffff; PADDING-BOTTOM: 4px; BORDER-LEFT: #b2b2b2 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #b2b2b2 1px solid
}
TABLE.thumbnail TD IMG {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.highlight:link {
	COLOR: red; TEXT-DECORATION: none
}
A.highlight:visited {
	COLOR: red; TEXT-DECORATION: none
}
A.highlight:hover {
	COLOR: red; TEXT-DECORATION: underline
}
A.thisclass:link {
	FONT-WEIGHT: bold; COLOR: #d9ebfd; TEXT-DECORATION: none
}
A.thisclass:visited {
	FONT-WEIGHT: bold; COLOR: #d9ebfd; TEXT-DECORATION: none
}
A.thisclass:hover {
	FONT-WEIGHT: bold; COLOR: #000000
}
.twidth {
	BORDER-RIGHT: #dddddd 1px solid; MARGIN-LEFT: auto; BORDER-LEFT: #dddddd 1px solid; WIDTH: 760px; MARGIN-RIGHT: auto
}
.content {
	FONT-SIZE: 14px; MARGIN: 5px 20px; LINE-HEIGHT: 140%; FONT-FAMILY: ו,Arial
}
.content A:visited {
	COLOR: blue; TEXT-DECORATION: underline
}
.content A:link {
	COLOR: blue; TEXT-DECORATION: underline
}
.content A:hover {
	COLOR: red
}
.aTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 15px
}
.alignTop {
	VERTICAL-ALIGN: top
}
.alignCenterTop {
	VERTICAL-ALIGN: top; TEXT-ALIGN: center
}
#sitehead {
	WIDTH: 100%
}
#sitehead TD.m {
	
}
#sitehead TD.l {
	WIDTH: 0px
}
#sitehead TD.r {
	WIDTH: 0px
}
#middle {
	WIDTH: 100%
}
#footer {
	BORDER-TOP: #eeeeee 1px solid; WIDTH: 100%; HEIGHT: 60px
}
#navbar {
	WIDTH: 100%
}
#navbar TD.m {
	BACKGROUND: url(navbar.gif); HEIGHT: 30px; TEXT-ALIGN: center
}
#navBar TD.m IMG {
	VERTICAL-ALIGN: middle
}
#navbar TD.l {
	BACKGROUND: url(navbar_l.gif); WIDTH: 10px
}
#navbar TD.r {
	BACKGROUND: url(navbar_r.gif); WIDTH: 10px
}
#navbar TD A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
#navbar TD A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
#navbar TD A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
#navsub {
	WIDTH: 100%
}
#navsub TD.m {
	BACKGROUND: #fcfcfc; HEIGHT: 23px; TEXT-ALIGN: left
}
#navsub TD.l {
	DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 10px
}
#navsub TD.r {
	DISPLAY: none; WIDTH: 10px
}
.bulletin A:link {
	COLOR: #606060; TEXT-DECORATION: none
}
.bulletin A:visited {
	COLOR: #606060; TEXT-DECORATION: none
}
.bulletin A:hover {
	COLOR: #333333; TEXT-DECORATION: none
}
.lframe {
	WIDTH: 196px; TEXT-ALIGN: left
}
.lframe TABLE {
	WIDTH: 100%
}
.lframe TD.tm {
	BORDER-TOP: #dddddd 1px solid; BACKGROUND: #f6f6f6; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 25px
}
.lframe TD.tm IMG {
	VERTICAL-ALIGN: middle
}
.lframe TD.tl {
	BACKGROUND: #ff9900; WIDTH: 5px
}
.lframe TD.tr {
	BACKGROUND: #dddddd; WIDTH: 1px
}
.lframe SPAN.tt {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; COLOR: #666666
}
.lframe TD.mm {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.lframe TD.ml {
	BACKGROUND: #dddddd; WIDTH: 0px
}
.lframe TD.mr {
	BACKGROUND: #dddddd; WIDTH: 1px
}
.lframe TD.bm {
	BORDER-TOP: #e6e6e6 1px solid; BACKGROUND: url(shadow.gif) no-repeat; HEIGHT: 12px
}
.lframe TD.bl {
	DISPLAY: none; WIDTH: 18px
}
.lframe TD.br {
	DISPLAY: none; WIDTH: 22px
}
.mframe {
	TEXT-ALIGN: left
}
.mframe TD.tm {
	BORDER-TOP: #ff9900 4px solid; BACKGROUND: #f0f0f0; HEIGHT: 25px
}
.mframe TD.tm IMG {
	VERTICAL-ALIGN: middle
}
.mframe TD.tl {
	BACKGROUND-IMAGE: url(arrow.gif); WIDTH: 25px
}
.mframe TD.tr {
	WIDTH: 0px
}
.mframe SPAN.tt {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; COLOR: #009900
}
.mframe TD.mm {
	BACKGROUND: #fcfcfc
}
.mframe TD.ml {
	BACKGROUND: #e1e0e0; WIDTH: 0px
}
.mframe TD.mr {
	BACKGROUND: #e1e0e0; WIDTH: 0px
}
.mframe TD.bm {
	DISPLAY: none; FONT-SIZE: 1px; BACKGROUND: #e1e0e0; HEIGHT: 0px
}
.mframe TD.bl {
	DISPLAY: none; WIDTH: 18px
}
.mframe TD.br {
	DISPLAY: none; WIDTH: 22px
}
.member {
	WIDTH: 196px; TEXT-ALIGN: left
}
.member TABLE {
	WIDTH: 100%
}
.member TD.tm {
	BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 6px; BACKGROUND: #f6f6f6; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 30px
}
.member TD.tm IMG {
	VERTICAL-ALIGN: middle
}
.member TD.tl {
	BACKGROUND: #ff9900; WIDTH: 5px
}
.member TD.tr {
	BACKGROUND: #dddddd; WIDTH: 1px
}
.member SPAN.tt {
	COLOR: #666666
}
.member TD.mm {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: url(bg_member.gif) #ffffff repeat-x; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.member TD.ml {
	BACKGROUND: #dddddd; WIDTH: 0px
}
.member TD.mr {
	BACKGROUND: #dddddd; WIDTH: 1px
}
.member TD.bm {
	BORDER-TOP: #e6e6e6 1px solid; BACKGROUND: url(shadow.gif) no-repeat; HEIGHT: 12px
}
.member TD.bl {
	DISPLAY: none; WIDTH: 18px
}
.member TD.br {
	DISPLAY: none; WIDTH: 22px
}
.summary-title {
	FONT-WEIGHT: bold; BACKGROUND: #f9f9f9; HEIGHT: 25px
}
.gray {
	COLOR: gray; TEXT-DECORATION: none
}
.time {
	COLOR: #ff6600
}
.hit {
	COLOR: green
}
.tdbg {
	BACKGROUND: #ffffff; LINE-HEIGHT: 120%
}
.tdbg-dark {
	BACKGROUND: #fcfcfc; LINE-HEIGHT: 120%
}
.hr {
	BACKGROUND: url(hr.gif); HEIGHT: 2px
}
.inputbg {
	
}
.quote {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; MARGIN: 10px 10px 10px 2em; BORDER-LEFT: #cccccc 1px solid; WORD-BREAK: break-all; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana,Arial,ו
}
.menuskin {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BACKGROUND-IMAGE: url(menubg.gif); VISIBILITY: hidden; FONT: 12px verdana; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; POSITION: absolute; BACKGROUND-COLOR: #f6f6f6; TEXT-ALIGN: left
}
.menuskin A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 25px; BEHAVIOR: url(inc/noline.htc); COLOR: black! important; TEXT-DECORATION: none
}
.menuskin A:hover {
	TEXT-DECORATION: none
}
#mouseoverstyle {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #ffcc00
}
#mouseoverstyle A {
	COLOR: black
}
.menuitems {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 2px; WORD-BREAK: keep-all; PADDING-TOP: 1px
}
